<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
	<!-- 加载数据库连接配置文件 -->
	<context:property-placeholder location="classpath:conf/jdbc.properties" />
	
	<!-- 配置数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" >
		<property name="user">
			<value>${jdbc.username}</value>
		</property>
		
		<property name="password">
			<value>${jdbc.password}</value>
		</property>
		
		<property name="driverClass">
			<value>${jdbc.driverClassName}</value>
		</property>
		
		<property name="jdbcUrl">
			<value>${jdbc.url}</value>
		</property>
		
		<property name="maxPoolSize" value="100" ></property>
		<property name="initialPoolSize" value="10" ></property>
		<property name="minPoolSize" value="5"></property>
	</bean>
	
	<!-- 配置 SqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 数据源 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- mybatis配置文件 -->
		<property name="configLocation" value="classpath:conf/mybatis/mybatisconf.xml"></property>
	</bean>
	
	<!-- MapperScannerConfigurer：mapper的扫描器，将包下边的mapper接口自动创建代理对象， 自动创建到spring容器中，bean的id是mapper的类名（首字母小写） -->
	<bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 配置扫描包的路径 如果要扫描多个包，中间使用半角逗号分隔 要求mapper.xml和mapper.java同名且在同一个目录 -->
		<property name="basePackage" value="com.rfid.netty.mapper,com.rfid.netty.mapper.custom"></property>
		<!-- 使用sqlSessionFactoryBeanName -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>
	
	<!-- 配置声明式事务 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" >
		<property name="dataSource" ref="dataSource" ></property>
	</bean>
	
	<tx:advice id="txAdvice" transaction-manager="transactionManager" >
		<tx:attributes>
			<tx:method name="count*" isolation="READ_COMMITTED" read-only="true" />
			<tx:method name="get*" isolation="READ_COMMITTED" read-only="true" />
			<tx:method name="find*" isolation="READ_COMMITTED" read-only="true" />
			<tx:method name="*" isolation="READ_COMMITTED" read-only="false" />
		</tx:attributes>
	</tx:advice>
	
	<aop:config>
		<aop:pointcut expression="execution(* com.rfid.netty.action.service.*.*(..))" id="txPoincut"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txPoincut"/>
	</aop:config>

</beans>
